<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Businesses</title>
    <link rel="stylesheet" href="/public/b.css" />
  </head>
  <body>
    <h2>Business Listings</h2>

    <ul>
      <li>
        <h3>Pooja Jhunjhunwala</h3>
        <p><strong>Products/Services:</strong> Women's wear</p>
        <p><strong>Contact:</strong> 9082003386</p>
      </li>
      <li>
        <h3>Pooja Pawan Jhunjhunwala</h3>
        <p>
          <strong>Products/Services:</strong> Graphic designer (also does print
          on tote bags)
        </p>
      </li>
      <li>
        <h3>Nidhi Sheldekar</h3>
        <p><strong>Products/Services:</strong> Online dance class</p>
      </li>
      <li>
        <h3>Kusum Harlalka</h3>
        <p><strong>Products/Services:</strong> Sells bedsheets and sarees</p>
      </li>
      <li>
        <h3>Seema Jhunjhunwala</h3>
        <p>
          <strong>Products/Services:</strong> Has business of snacks and makes
          cakes also on order
        </p>
      </li>
    </ul>

    <a href="/">Back to Home</a>
  </body>
</html>
