<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Businesses</title>
    <link rel="stylesheet" href="/public/b.css" />
  </head>
  <body>
    <h2>Business Listings</h2>

    <ul>
      <li>
        <h3>Pooja Jhunjhunwala</h3>
        <p><strong>Products/Services:</strong> Women's wear</p>
        <p><strong>Contact:</strong> 9082003386</p>
      </li>
      <li>
        <h3>Pooja Pawan Jhunjhunwala</h3>
        <p>
          <strong>Products/Services:</strong> Graphic designer (also does print
          on tote bags)
        </p>
      </li>
      <li>
        <h3>Nidhi Sheldekar</h3>
        <p><strong>Products/Services:</strong> Online dance class</p>
      </li>
      <li>
        <h3>Kusum Harlalka</h3>
        <p><strong>Products/Services:</strong> Sells bedsheets and sarees</p>
      </li>
      <li>
        <h3>Seema Jhunjhunwala</h3>
        <p>
          <strong>Products/Services:</strong> Has business of snacks and makes
          cakes also on order
        </p>
      </li>
      <li>
        <h3>Pooja Sharma</h3>
        <p><strong>Products/Services:</strong> Sell cosmetics</p>
      </li>
      <li>
        <h3>Sonal Mehta</h3>
        <p><strong>Products/Services:</strong> Diwali decor (toran, diya)</p>
      </li>
      <li>
        <h3>Aayushi Parikh</h3>
        <p><strong>Products/Services:</strong> Video creator freelancer</p>
      </li>
      <li>
        <h3>Riya Shah</h3>
        <p><strong>Products/Services:</strong> Graphic freelancer</p>
      </li>
      <li>
        <h3>Yashvi Mehta</h3>
        <p><strong>Products/Services:</strong> Hampers and scrapbook</p>
      </li>
      <li>
        <h3>Jiya Shah</h3>
        <p><strong>Products/Services:</strong> Professional Nail artist</p>
      </li>
      <li>
        <h3>Ishika Jain</h3>
        <p><strong>Products/Services:</strong> Choreographer</p>
      </li>
      <li>
        <h3>Bhavna Shah</h3>
        <p>
          <strong>Products/Services:</strong> Organic sharbat (without
          chemicals)
        </p>
      </li>
      <li>
        <h3>Savita Pasari</h3>
        <p><strong>Products/Services:</strong> Resells Tupperware products</p>
      </li>
      <li>
        <h3>Sarita Nimani</h3>
        <p>
          <strong>Products/Services:</strong> Resells bags, home decor products
        </p>
      </li>
      <li>
        <h3>Unnati Doshi</h3>
        <p><strong>Products/Services:</strong> Vesh Jewellery</p>
      </li>
      <li>
        <h3>Anita Pareek</h3>
        <p><strong>Products/Services:</strong> Stitches women's dress</p>
      </li>
      <li>
        <h3>Sangeeta More</h3>
        <p><strong>Products/Services:</strong> Sells Pickle</p>
      </li>
      <li>
        <h3>Pinky Naik</h3>
        <p><strong>Products/Services:</strong> Sells Imitation Jewellery</p>
      </li>
      <li>
        <h3>Khushbu Patel</h3>
        <p><strong>Products/Services:</strong> Sells homemade food</p>
      </li>
      <li>
        <h3>Sangeeta Makdiya</h3>
        <p>
          <strong>Products/Services:</strong> Sells bags/purses and dress
          materials
        </p>
      </li>
      <li>
        <h3>Nimisha Gothi</h3>
        <p>
          <strong>Products/Services:</strong> Sells handmade mattress from waste
        </p>
      </li>
      <li>
        <h3>Maya More</h3>
        <p><strong>Products/Services:</strong> Sells handmade papads</p>
      </li>
      <li>
        <h3>Shweta Gupta</h3>
        <p><strong>Products/Services:</strong> Sells ascends handmade soaps</p>
      </li>
      <li>
        <h3>Jyoti Agarwal</h3>
        <p>
          <strong>Products/Services:</strong> Sells handmade ascends candles
        </p>
      </li>
      <li>
        <h3>Priya Pareek</h3>
        <p>
          <strong>Products/Services:</strong> Sells handmade fabric jewellery
        </p>
      </li>
      <li>
        <h3>Priya Dhanjani</h3>
        <p><strong>Products/Services:</strong> Online tuitions</p>
      </li>
      <li>
        <h3>Jigna Shah</h3>
        <p><strong>Products/Services:</strong> Sells homemade mehandi</p>
      </li>
      <li>
        <h3>Uma Jain</h3>
        <p><strong>Products/Services:</strong> Sells handmade chocolates</p>
      </li>
      <li>
        <h3>Alka Bilakhia</h3>
        <p><strong>Products/Services:</strong> Homemade pickle</p>
      </li>
      <li>
        <h3>Rekha</h3>
        <p><strong>Products/Services:</strong> Ready to fry snacks</p>
      </li>
      <li>
        <h3>Jaishree</h3>
        <p><strong>Products/Services:</strong> Ready to fry snacks</p>
      </li>
      <li>
        <h3>Poonam</h3>
        <p><strong>Products/Services:</strong> Papad</p>
      </li>
    </ul>

    <a href="/">Back to Home</a>
  </body>
</html>
